/*------------- #FOOTER --------------*/



.footer {
  width: calc(100% - 144px);
  margin: 0 auto;
  padding: 70px 55px;
  background-color: $white-color;
  box-shadow: 0 0 34px 0 rgba(63, 66, 87, 0.1);
  position: relative;

	.widget .title {
	  margin-bottom: 25px;
	}
}

.footer--dark {
  background-color: $secondary-color;

  .w-about .logo {
	color: $white-color;

	.logo-title {
	  color: $white-color;
	}

	&:hover {
	  color: $white-color;
	}
  }

  .widget .title {
	color: $white-color;
  }

  .socials i {
	color: $white-color;

	&:hover {
	  color: $primary-color;
	}
  }
}

/*------------- Responsive mode styles --------------*/



@media (max-width: 1024px) {
  .footer .widget {
	margin-bottom: 40px;
  }

  .footer {
	padding: 40px 15px;
  }
}

@media (max-width: 1024px) {
  .footer {
	width: 100%;
  }
}

