/*------------- #W-SELECT --------------*/


.w-select {
  padding: 0 20px 0 0;

  .bootstrap-select > .dropdown-toggle {
	padding: 10px 15px;
	font-size: 12px;
	height: 40px;
	margin-bottom: 0;
  }

  .form-group {
	margin-bottom: 0;
  }

  .title {
	float: left;
	line-height: 40px;
	margin-right: 15px;
  }
}

