/*------------- #w-socials --------------*/


.social-item {
  font-size: 11px;
  color: $white-color;
  padding: 7px 15px;
  display: block;
  border-radius: 3px;
  margin-bottom: 15px;
  text-align: center;

  i {
	font-size: 12px;
	margin-right: 10px;
  }

  &:hover {
  	color: $white-color;
	opacity: .9;
  }
}

.w-socials {
  .title {
	margin-bottom: 20px;
  }
}

.socials {
  i {
	font-size: 15px;
	transition: all .3s ease;
  }

  li {
	display: inline-block;

	a {
	  color: $icon-color;

	  &:hover {
		color: $primary-color;
	  }
	}

	& + li {
	  margin-left: 25px;
	}
  }
}